---
http_interactions:
- request:
    method: get
    uri: https://api.semantics3.com/v1/products?q=%7B%22search%22:%22aoeuthao2ntaohue%22,%22activeoffersonly%22:1,%22activesitesonly%22:1,%22limit%22:10,%22offset%22:0%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="SEM3C831DE14C89CD4341DC77811C4BE7447", oauth_nonce="EE42CMdp2FDyVb7mHx6URlHFxYDcl7Yrqj3L4cSII",
        oauth_signature="xDeFKRVuRY6tb12ULEBSdhnE11c%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1490565416", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":"OK","offset":0,"results_count":0,"results":[],"total_results_count":0,"message":"No
        results found; please modify your request."}'
  recorded_at: Sun, 26 Mar 2017 21:56:56 GMT
recorded_with: VCR 3.0.3
