.header
  %span.page-title.left
    Code Test
  = form_tag(home_search_path, remote: true, authenticity_token: true) do
    = text_field_tag(:search_term, @search_result_page&.search_term, placeholder: 'Search for a product', tabindex: 1)
    = submit_tag("Search", name: nil)
  

#products
  - if @search_result_page&.content
    = render(partial: 'products')